@import "../../common/css/common";

#site-wrap {
	section {
		> .contenu {

		}

		&.intro {
			.kv {
				max-width: 1370px;
				margin: 2em auto 0;
				background: url("../iii/intro-desktop.jpg") center no-repeat;
				background-size: cover;
				aspect-ratio: 1370/455;
				@media screen and (max-width: @mobile-breakpoint) {
					background-image: url(../iii/intro-mobile.jpg);
					aspect-ratio: 720/1000;
				}
			}
		}

		&.winter-turkey-is {
			>.contenu {
				text-align: center;
				font-weight: normal;
				.blah-blah {

				}
				h2 {
					margin-top: 1em;
				}
				.features-list {
					display: flex;
					justify-content: center;
					@media screen and (max-width: @mobile-breakpoint) {
					    flex-wrap: wrap;
					}
					>* {
						flex: 0 1 auto;
						.flex-column;
						align-items: center;
						padding: 1em;
						@media screen and (max-width: @mobile-breakpoint) {
							flex: 0 1 100%/4;
						}
						@media screen and (max-width: @narrow-breakpoint) {
							flex: 0 1 100%/2;
						}
						.icon {
							aspect-ratio: 100/67;
							background: center no-repeat;
							background-size: contain;
							width: 6em;
							max-width: 100px;
						}
						.label {
							line-height: 1.2;
							margin-top: 2em;
							text-transform: uppercase;
							font-size: 14/16em;
						}
					}
				}
			}
		}

		&.resorts {
			>.contenu {
				.resort-selector {
					width: 100%;
					display: flex;
					justify-content: center;
					@media screen and (max-width: @mobile-breakpoint) {
					    flex-wrap: wrap;
					}
					[data-content-marker] {
						.interactive;
						outline: none;
						flex: 0 1 30%;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						line-height: 1;
						margin: 0 1em;
						height: 2.6em;
						padding: 0 2em;
						border-radius: .3em;
						border: 2px solid black;
						background: white;
						.transit(color);
						.transit(background);
						.transit(border);
						cursor: pointer;
						@media screen and (max-width: @mobile-breakpoint) {
						    flex: 1 1 auto;
							margin: .5em;
						}
						&.selected {
							pointer-events: none;
							color: white;
							background: #FFAE00;
							border-color: #FFAE00;
						}
						&[data-content-marker="antalia"] {
							@media screen and (max-width: @mobile-breakpoint) {
							    flex-basis: 80%;
							}
						}
					}
				}
				.resort-contents {
					.resort {
						&:not(.shown) {
							display: none;
						}
						&[data-content='antalia'] {
							.info-comp.heading .visual {
								background-image: url(../iii/visual-heading-antalia-desktop.jpg);
								@media screen and (max-width: @mobile-breakpoint) {
									background-image: url(../iii/visual-heading-antalia-mobile.jpg);
								}
							}
						}
						&[data-content='palandoken'] {
							.info-comp.heading .visual {
								background-image: url(../iii/visual-heading-palandoken-desktop.jpg);
								@media screen and (max-width: @mobile-breakpoint) {
									background-image: url(../iii/visual-heading-palandoken-mobile.jpg);
								}
							}
						}
						&[data-content='ercyies'] {
							.info-comp.heading .visual {
								background-image: url(../iii/visual-heading-ercyies-desktop.jpg);
								@media screen and (max-width: @mobile-breakpoint) {
									background-image: url(../iii/visual-heading-ercyies-mobile.jpg);
								}
							}
						}
						h3 {
							margin: 3em auto 2em;
							line-height: 1.2;
							max-width: 30em;
							& + h3 {
								margin-top: 0;
							}
						}
						.info-comp {
							display: flex;
							&:nth-of-type(even) {
								flex-direction: row-reverse;
							}
							@media screen and (max-width: @mobile-breakpoint) {
							    flex-direction: column!important;
								align-items: center;
								padding: 0 2em;
							}
							& + .info-comp {
								margin-top: 3em;
							}
							>* {
								flex: 1 1 50%;
								margin: 0 2em;
								@media screen and (max-width: @mobile-breakpoint) {
								    flex: 1 1 auto;
									width: 100%;
									margin: 0;
								}
							}
							&.heading {
								.visual {
									aspect-ratio: 635/371;
									background: center no-repeat;
									background-size: cover;
									@media screen and (max-width: @mobile-breakpoint) {
									    aspect-ratio: 1/1;
									}
								}
							}
							&:not(.heading) {
								padding: 0 4em;
								@media screen and (max-width: @mobile-breakpoint) {
									padding: 0 2em;
								}
								.visual {
									aspect-ratio: 575/348;
									background: center no-repeat;
									background-size: cover;
									@media screen and (max-width: @mobile-breakpoint) {
										aspect-ratio: 620/310;
									}
								}
							}
							.visual {
								border-radius: 1em;
								@media screen and (max-width: @mobile-breakpoint) {
								    border-radius: 2em;
								}
							}
							.info {
								.flex-column;
								justify-content: center;
								font-size: 20/16em;
								font-weight: normal;
								@media screen and (max-width: @mobile-breakpoint) {
									margin-top: 2em;
								}
								h4 {
									font-size: 32/26em;
									margin-bottom: 1em;
									@media screen and (max-width: @mobile-breakpoint) {
										text-transform: uppercase;
									}
								}
								p {
									margin-bottom: 0;
								}
								a {
									font-size: inherit;
									font-family: inherit;
									text-decoration: underline;
								}
							}
						}
						.textual {
							font-weight: normal;
							max-width: 60em;
							margin: auto;
							p {
								margin-bottom: 0;
								text-align: center;
							}
							p + p {
								margin-top: 1em;
							}
						}
					}
				}
			}
		}

		&.message-us {
			>.contenu {
				flex-direction: row;
				align-items: stretch;
				@media screen and (max-width: @mobile-breakpoint) {
					flex-direction: column;
				}
				.lefty, .righty {
					flex: 1 1 50%;
					@media screen and (max-width: @mobile-breakpoint) {

					}
				}
				.righty {
					.flex-column;
					align-items: center;
					text-align: center;
					border-left: 1px solid black;
					@media screen and (max-width: @mobile-breakpoint) {
						border-left: 0;
						border-top: 1px solid black;
						margin-top: 2em;
						padding-top: 2em;
					}
				}
				.messengers {
					display: flex;
					justify-content: center;
					margin-top: 2em;
					a {
						.interactive;
						.proportional(1/1);
						width: 5em;
						max-width: 80px;
						background: center no-repeat;
						background-size: contain;
						margin: 0 1.5em;
					}
				}

				.phone-number {
					font-size: 50/16em;
					font-weight: bold;
					color: #FFAE00;
					text-decoration: none;
					margin: .5em auto;
					@media screen and (max-width: @mobile-breakpoint) {
						font-size: 8vw;
					}
				}
			}
		}


	}
}